#answer-list {
    list-style-type: none;
    float: right;
    margin: 1rem;  
}

.lists {
    display: inline-block;
}

#form-list {
    float: left;
}

#reset-button {
    display: none;
    position: fixed;
    bottom: 3rem;
    left: 4rem;
}

#template-load {
    position: relative;
    left: 10rem;
    top: 9rem;
    text-align: center;
}

.template-button {
    width: 8rem;
    height: 3rem;
}



.title {
    text-align: center;
}

