#answer-list {
    list-style-type: none;
    float: right;
    margin: 1rem;  
}

.lists {
    display: inline-block;
}

#form-list {
    float: left;
}

#reset-button {
    display: none;
    position: fixed;
    bottom: 12%;
    left: 16%;
}


#template-load {
    margin: 5rem;
    position: relative;
    background-color: hsl(9, 77%, 50%);
}


.template-button {
    width: 8rem;
    height: 3rem;
}


h2 {
    margin: 4rem;
}


.title {
    text-align: center;
}

